*{
    padding: 0;
    box-sizing: border-box;
    background-color: #F6E9B2;
}

section {
    height: 80svh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.back-ground-image {
    display: flex;
    background-image: url(../media/images/background.jpeg);
    background-size: cover;
    background-position: center;
    width: 400px;
    height: 250px;
    border-radius: 15px;
    align-items: center;
    justify-content: center;
}

h1 {
    color: #0A6847;
    background-color: #f6eab276;
    padding: 10px;
    font-size: 2.5em;
    border-radius: 5px;
}